<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupresponse</servlet-name>
        <servlet-class>signupresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartlogic</servlet-name>
        <servlet-class>addtocartlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecartitem</servlet-name>
        <servlet-class>deletecartitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>placeorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginresponse</servlet-name>
        <servlet-class>adminloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchlogic</servlet-name>
        <servlet-class>searchlogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchcategories</servlet-name>
        <servlet-class>fetchcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecategory</servlet-name>
        <servlet-class>deletecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcategorynames</servlet-name>
        <servlet-class>getcategorynames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproduct</servlet-name>
        <servlet-class>addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproduct</servlet-name>
        <servlet-class>fetchproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproduct</servlet-name>
        <servlet-class>deleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeqty</servlet-name>
        <servlet-class>changeqty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantsignupresponse</servlet-name>
        <servlet-class>merchantsignupresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchmerchants</servlet-name>
        <servlet-class>fetchmerchants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changestatus</servlet-name>
        <servlet-class>changestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantsignin</servlet-name>
        <servlet-class>merchantsignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantlogout</servlet-name>
        <servlet-class>merchantlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreview</servlet-name>
        <servlet-class>addreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userchangepassword</servlet-name>
        <servlet-class>userchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantchangepassword</servlet-name>
        <servlet-class>merchantchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminchangepassword</servlet-name>
        <servlet-class>adminchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproductgallery</servlet-name>
        <servlet-class>addproductgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproductgallery</servlet-name>
        <servlet-class>fetchproductgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproductgallery</servlet-name>
        <servlet-class>deleteproductgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword1</servlet-name>
        <servlet-class>forgotpassword1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mfp</servlet-name>
        <servlet-class>mfp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mfp1</servlet-name>
        <servlet-class>mfp1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupresponse</servlet-name>
        <url-pattern>/signupresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartlogic</servlet-name>
        <url-pattern>/addtocartlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecartitem</servlet-name>
        <url-pattern>/deletecartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginresponse</servlet-name>
        <url-pattern>/adminloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchlogic</servlet-name>
        <url-pattern>/searchlogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchcategories</servlet-name>
        <url-pattern>/fetchcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecategory</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcategorynames</servlet-name>
        <url-pattern>/getcategorynames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproduct</servlet-name>
        <url-pattern>/fetchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeqty</servlet-name>
        <url-pattern>/changeqty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantsignupresponse</servlet-name>
        <url-pattern>/merchantsignupresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchmerchants</servlet-name>
        <url-pattern>/fetchmerchants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changestatus</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantsignin</servlet-name>
        <url-pattern>/merchantsignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantlogout</servlet-name>
        <url-pattern>/merchantlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreview</servlet-name>
        <url-pattern>/addreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userchangepassword</servlet-name>
        <url-pattern>/userchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantchangepassword</servlet-name>
        <url-pattern>/merchantchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminchangepassword</servlet-name>
        <url-pattern>/adminchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproductgallery</servlet-name>
        <url-pattern>/addproductgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproductgallery</servlet-name>
        <url-pattern>/fetchproductgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproductgallery</servlet-name>
        <url-pattern>/deleteproductgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword1</servlet-name>
        <url-pattern>/forgotpassword1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mfp</servlet-name>
        <url-pattern>/mfp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mfp1</servlet-name>
        <url-pattern>/mfp1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
